.to-do-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 20px;
}

.to-do-box {
	border: 1px solid black;
	border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 700px;
}

.new-to-do {
	display: flex;
}

.new-to-do, .to-do-date {
	padding: 18px;
	background-color: rgb(25, 94, 131);
}

#submit-btn {
	border: 1px solid black;
	border-radius: 5px;
	margin-left: 10px;
	padding: 10px;
	background-color: #2b9348;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
}

#submit-btn:hover {
	cursor: pointer;
}

label {
	color: #fff;
	font-size: 30px;
	margin-right: 15px;
}

.list-content {
	display: flex;
	justify-content: space-between;
}

li {
	list-style-type: none; 
	padding: 30px;
	font-size: 20px;
    color: rgb(32, 32, 32);
}

li:nth-child(even) {
	background-color: rgb(224, 224, 224);
} 

.task-to-do {
	margin-bottom: 20px;
}

.fas {
	font-size: 50px;
}

.fa-check:hover {
	color: #2b9348;
	cursor: pointer;
}

.fa-trash:hover {
	color: #d62828;
	cursor: pointer;
}

.completed { /*Class for completed task*/
	text-decoration: line-through;
}

.checked { /*Class for completed task:*/
	color: #2b9348;
}


/*Media query:*/

@media (min-width: 300px) and (max-width: 480px) {
  
.to-do-wrapper {
	display: block;
}

.new-to-do {
	display: block;
}

#submit-btn {
	margin-top: 10px;
	font-size: 20px;
	width: 50px;
}

.fas {
	font-size: 30px;
}

li {
	font-size: 15px;
}
  
}